.navbar {
    display: flex;
    background-color: black;
    right: 0;
    left: 0;
    top: 0;
    height: 100px;
    position: fixed;
    padding-left: 200px;
    padding-right: 200px;
}
@font-face{
    font-family: "Korbin W01 Medium\";
    src: url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.eot");
    src: url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.eot?#iefix")format("embedded-opentype"),
        url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.woff")format("woff"),
        url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.woff2")format("woff2"),
        url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.ttf")format("truetype"),
        url("http://db.onlinewebfonts.com/t/953440d6182da090377d805e5156873c.svg#Korbin W01 Medium\")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
 
body{
    height: 100vh;
    padding:0;
    margin:0;
    min-height: 100vh;
}
.page1header{
    color: white;
    font-family: "Korbin W01 Medium";
    padding-top: 7vh;
    margin-left: 7%;
    font-size: 7vw;
    font-weight: bold;
}
.page1text{
    color: white;
    font-family: "Korbin W01 Medium";
    padding-top: 15vh;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 3vw;
}
.page1{
    left: 0;
	font-family: "Korbin W01 Medium";
    color: rgb(255, 255, 255);
    text-align:left;
    display:block;
    position: static;
    background-color: rgb(37, 41, 87);
    background-size: cover;
    height: 100vh;
    padding:0;
}
.page2header{
    color: white;
    font-family: "Korbin W01 Medium";
    padding-top: 7vh;
    margin-left: 7%;
    font-size: 7vw;
    font-weight: bold;
}
.page2text{
    color: white;
    font-family: "Korbin W01 Medium";
    padding-top: 15vh;
    margin-left: 7%;
    font-size: 3vw;
}
.page2{
    left: 0;
	font-family: "Korbin W01 Medium";
    color: rgb(255, 255, 255);
    text-align:left;
    display:block;
    position: relative;
    background-color: black;
    background-size: cover;
    height: 100vh;
    padding:0;
}
.splashtext{
	font-family: "Korbin W01 Medium";
    font-size: 11vw;
    text-align:left;
    display:flex;
    position: relative;
    font-weight: bold;
    background-size: cover;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: 10%;
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(121, 115, 212);
    text-decoration: none;
}
.fullscreen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('back2.gif');
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}
.fullscreen-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
}
.fade-out {
    overflow: hidden;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.fullscreen-wrapper h1, h2 {
    padding-left: 10%;
}
.fullscreen-wrapper h1 {
    font-size: 128px;
    padding-top: 25%;
}
.fullscreen-wrapper h2 {
    font-size: 256px;
    padding-top: 10%;
}
h1{
    left: 0;
	font-family: 'Lexend Tera', sans-serif;
    font-size: 125%;
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px 10px;
}
.companynameheader{
    display: flex;
    margin-right: 12px;
    right: 0;
    width: 5%;
    padding-left: 0px;
    padding-right: 150px;
    float: left;
    left: 150px;
  }
.companylogoheader{
    display: flex;
    padding-left: 200px;
    padding-right: 00px;
    position: absolute;
    top: 0;
    size: 100%;
    right: 200px;
}
