.navbar {
    display:inline-block;
    background-color: #535a61;
    width: 100%;
    margin-left: auto;
 	margin-right: auto;
}
.navbar a {
    
	font-family: 'Lexend Tera', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
body {
    background-color: #535a61;
}
.center-logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
  }
@font-face {
    font-family: 'FM Bolyar Sans Pro';
    src: local('FM Bolyar Sans Pro 500'), local('FM-Bolyar-Sans-Pro-500'),
        url('FMBolyarSansPro-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.companyname {
    font-family: "FM Bolyar Sans Pro";
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
p{
    font-family: 'Lexend Tera', sans-serif;
    margin-top: 5%;
    margin-right: 25%;
	margin-left: 25%;
    font-size: 15px;
    color: white;
    word-wrap: break-word;
    text-align: center;
}
